<% if current_user %>
  <div class="text-center mt-5">
    <table class="table table-light">
      <thead>
      <tr>
        <th class="display-6"><%= t '.name' %></th>
        <th class="display-6"><%= t '.email'%></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= current_user.name %></td>
        <td><%= current_user.email %></td>
      </tr>
      </tbody>
    </table><br>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2 class="mt-5">My posts</h2>
          <%= render partial: 'posts/post', locals: { user: current_user } %>
        </div>
        <div class="col">
          <h2 class="mt-5">My comments</h2>
          <%= render partial: 'comments/comment', collection: @comments %>
        </div>
      </div>
    </div>

  </div>
<% else %>
  <р2>Not your page!</р2>
<% end %>
