<h1><%= @post.title %></h1>

<% if @post.images.attached? %>
  <% @post.images.each do |image| %>
    <% if image.image? %>
      <div class="d-inline-block">
        <%=link_to image_tag(image.variant(resize_to_limit: [100, 100])), image %><br />
      </div>
    <% else %>
      <%= link_to image.filename, rails_blob_path(image, disposition: "attachment") %>
    <% end %>
  <% end %>
<% end %>

<p class="buffer-top"><%= @post.body %></p>

<%= render partial: 'comments/comment', collection: @comments %>

<% if user_signed_in? %>
  <%= render partial: 'comments/form', locals: {comment: @new_comment || @post.comments.build} %>

  <%= link_to t('links.edit'), edit_post_path(@post) , class: 'btn btn-outline-warning'%>

  <div class="py-4">
    <%= link_to t('links.to_return'), user_path(current_user), class: 'btn btn-secondary' %>
  </div>
<% end %>
